<%layout("layout/boilerplate")%>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%= campground._id %>?_method=put" method="post" novalidate class="validated-form" enctype="multipart/form-data">
            <div>
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required value="<%= campground.title %>">
            </div>
            <div>
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required value="<%= campground.location %>">
            </div>
                <div>
                    <label class="form-label" for="image">Image</label> 
                    <div class="input-group">
                        <input class="form-control" type="file" name="image" multiple >
                    </div>
                </div>
            <div>
                <label class="form-label" for="price">Price</label>
                <input class="form-control" type="text" id="price" name="campground[price]" required value="<%= campground.price %>">
            </div>
            <div>
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" required name="campground[description]"><%= campground.description %></textarea>
            </div>
            <% campground.images.forEach((img, i) => { %>
                <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="">
                <label for="image-<%= i %>">Delete?</label>
                <div class="form-check-inline">
                    <input type="checkbox" name="deleteImage[]" id="image-<%= i %>" value="<%= img.filename %>">
                </div>
            <% }) %>
            <button class="btn btn-primary mt-2">Update</button>
        </form>
    </div>
</div>
